/auto
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.toc
*.snm
*.nav
*.tdo
*~
*.DS_Store
*.AppleDouble
\#*\#
.\#*
report/auto/mystyle.el
report/auto/note.el
report/auto/ref.el
report/auto/report.el
report/tex/auto/note.el
report/tex/auto/probleme.el
